// 메인비주얼
#mainVisual {
  width: 100%;
  height: 100vh;
  background-color: var(--white);

  .main_visual_wrap {
    gap: 3rem;

    & > .left,
    & > .right {
      width: 50%;
    }

    & > .left {
      flex-wrap: wrap;
      gap: 2rem;

      h2 {
        font-size: var(--fs-60);
        font-weight: var(--fw-700);

        p {
          display: inline-block;
          position: relative;
          z-index: 1;

          .ico_cursor {
            color: var(--sub-yellow-1);
            position: absolute;
            right: 2rem;
            bottom: -2rem;
            animation: curcle 5s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;

            @keyframes curcle {
              0% {
                right: 2rem;
                bottom: -3rem;
              }
              50% {
                right: calc(100% - 4rem);
                bottom: -3rem;
              }
              100% {
                right: 2rem;
                bottom: -3rem;
              }
            }
          }
        }
      }

      & > p {
        width: 100%;
        line-height: var(--lh-15);
      }
    }
    & > .right {
      .img_main_visual {
        width: 100%;
        height: auto;
      }
    }
  }
}

// 반응형
@media screen and (max-width: 1024px) {
  // 메인비주얼
  #mainVisual {
    height: auto;
    padding: 8rem 0;

    .main_visual_wrap {
      flex-wrap: wrap-reverse;

      & > .left,
      & > .right {
        width: 100%;
      }

      & > .left {
        gap: 2rem;

        h2 {
          font-size: var(--fs-36);

          p {
            display: inline-block;
            position: relative;
            z-index: 1;

            .ico_cursor {
              color: var(--sub-yellow-1);
              position: absolute;
              right: 2rem;
              bottom: -2rem;
              animation: curcle 5s;
              animation-iteration-count: infinite;
              animation-fill-mode: forwards;

              @keyframes curcle {
                0% {
                  right: 2rem;
                  bottom: -3rem;
                }
                50% {
                  right: calc(100% - 4rem);
                  bottom: -3rem;
                }

                100% {
                  right: 2rem;
                  bottom: -3rem;
                }
              }
            }
          }
        }

        & > p {
          width: 100%;
          line-height: var(--lh-15);
        }
      }
    }
  }
}
