.btn {
  border-radius: var(--br-10);
  padding: 1.5rem 2rem;

  & > .ico_btn {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
    transition: var(--transition-03);
    margin-left: 0.5rem;
    margin-right: 0;

    &.mg_right {
      margin-left: 0;
      margin-right: 0.5rem;
    }
    & > svg {
      font-size: var(--fs-18);
    }
  }

  // hover
  &.hover {
    & > .ico_btn {
      opacity: 0;
      margin-left: -1.8rem;
    }
  }
  &.hover:hover {
    & > .ico_btn {
      opacity: 1;
      margin-left: 0.5rem;
    }
  }

  // btnSize === "small"
  &.small {
    font-size: var(--fs-14);
    padding: 1rem;

    & > .ico_btn {
      width: 1.4rem;
      height: 1.4rem;

      & > svg {
        font-size: var(--fs-14);
      }
    }
  }

  // btnSize === "large"
  &.large {
    font-size: var(--fs-20);
    padding: 2.5rem;

    & > .ico_btn {
      width: 2rem;
      height: 2rem;

      & > svg {
        font-size: var(--fs-20);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    padding: 1rem 1.5rem;

    & > .ico_btn {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 0.3rem;

      &.mg_right {
        margin-right: 0.3rem;
      }
      & > svg {
        font-size: var(--fs-16);
      }
    }

    & > .ico_btn.hover {
      margin-left: -1.6rem;
    }
  }
}
