.btn {
  border-radius: var(--br-10);
  padding: 1.4rem 2rem;
  transition: var(--transition-03);

  & > .ico_btn {
    display: inline-flex;
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
    transition: var(--transition-03);
    margin-left: 0;
    margin-right: 0;

    // &.mg_right {
    //   margin-left: 0;
    //   margin-right: 0;
    // }
    & > svg {
      font-size: var(--fs-18);
    }
  }

  // hover
  &.hover {
    & > .ico_btn {
      opacity: 0;
      margin-left: -1.8rem;

      &.mg_right {
        margin-left: 0;
        margin-right: -1.8rem;
      }
    }
  }
  &.hover:hover {
    & > .ico_btn {
      opacity: 1;
      margin-left: 0.5rem;

      &.mg_right {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }

  // size
  &.sm {
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    font-size: var(--fs-14);

    & > .ico_btn {
      width: 1.4rem;
      height: 1.4rem;

      & > svg {
        font-size: var(--fs-14);
      }
    }
  }

  &.md {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    font-size: var(--fs-14);

    & > .ico_btn {
      width: 1.4rem;
      height: 1.4rem;

      & > svg {
        font-size: var(--fs-14);
      }
    }
  }

  &.lg {
    height: 5rem;
    line-height: 5rem;
    padding: 0 2rem;
    font-size: var(--fs-20);

    & > .ico_btn {
      width: 2rem;
      height: 2rem;

      & > svg {
        font-size: var(--fs-20);
      }
    }
  }

  &.xlg {
    font-size: var(--fs-20);
    height: 6rem;
    line-height: 6rem;
    padding: 0 2rem;

    & > .ico_btn {
      width: 2rem;
      height: 2rem;

      & > svg {
        font-size: var(--fs-20);
      }
    }
  }

  // disabled
  &:disabled {
    background-color: var(--gray-3) !important;
    cursor: default;

    &:hover {
      & > .ico_btn {
        opacity: 0;
        margin-left: -1.8rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    padding: 1rem 1.5rem;

    & > .ico_btn {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 0.3rem;

      &.mg_right {
        margin-right: 0.3rem;
      }
      & > svg {
        font-size: var(--fs-16);
      }
    }

    & > .ico_btn.hover {
      margin-left: -1.6rem;
    }
  }
}
