.card {
  width: 100%;
  border-radius: var(--br-10);
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
  transition: var(--transition-03);
  padding: 3rem;

  .card_title {
    padding: 1.5rem 3rem;
    font-size: var(--fs-24);
    font-weight: var(--fw-700);
    border-radius: var(--br-50);
    box-shadow: var(--menu-shadow);
  }

  .card_desc {
    width: 100%;
    text-align: center;
  }

  // hover
  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: var(--shadow-1);
  }
}

// 반응형
@media screen and (max-width: 1024px) {
  .card {
    gap: 1rem;
    padding: 2rem;

    .card_title {
      padding: 1rem 2rem;
      font-size: var(--fs-18);

      margin-bottom: 1rem;
    }
  }
}
