// 공통
.pc_none {
  display: none;
}

/*table*/
.tb_st1 caption,
.tb_st2 caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.tb_st1 th,
.tb_st1 td,
.tb_st2 th,
.tb_st2 td {
  vertical-align: middle;
}

// tb_st1
.tb_st1 {
  width: 100%;
}

.tb_st1 thead {
  border-top: solid 2px var(--gray-700);
  background: var(--gray-200);
}
.tb_st1 th,
.tb_st1 td {
  padding: 15px;
  border-bottom: solid 1px var(--gray-300);
  border-left: solid 1px var(--gray-300);
  text-align: center;
}
.tb_st1 th:first-of-type,
.tb_st1 td:first-of-type {
  border-left: none;
}
.tb_st1 td a:hover {
  text-decoration: underline;
}
//hover
.tb_st1 tbody tr.hover:hover {
  background-color: var(--gray-200);
}

// tb_st2
.tb_st2 {
  width: 100%;
}
.tb_st2 tbody {
  border-top: solid 2px var(--gray-700);
}
.tb_st2 th {
  background: var(--gray-200);
  color: #0a1032;
  font-size: 18px;
  font-weight: 500;
}
.tb_st2 td {
  color: #0a1032;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  border-left: solid 1px var(--gray-300);
  border-right: solid 1px var(--gray-300);
  line-height: 150%;
}
.tb_st2 tr td:nth-last-of-type(1) {
  border-right: none;
}
.tb_st2 th,
.tb_st2 td {
  padding: 15px;
  border-bottom: solid 1px var(--gray-300);
  position: relative;
}
.tb_st2 td ul li {
  width: 100%;
  display: inline-block;
  word-break: keep-all;
  position: relative;
  padding-left: 10px;
}
.tb_st2 td ul li::before {
  content: ".";
  position: absolute;
  top: -10px;
  left: -2px;
  font-size: 30px;
}
.t_al_left {
  text-align: left !important;
}
.txt_right {
  position: absolute;
  top: 30%;
  right: 0;
}
.tb_top {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  color: #666;
  margin: 30px 0 0 0;
}
.tb_top span {
  color: var(--gray-700);
}

// print
@media print {
  .tb_st1,
  .tb_st2 {
    padding: 3rem;
    box-sizing: border-box;
  }
}

// 반응형
@media screen and (max-width: 1023px) {
  // 테블릿

  // table
  // .tb_st1 {
  //   border-top: solid 2px var(--gray-700);

  //   // colgroup {
  //   //   display: none;
  //   // }

  //   tbody {
  //     tr {
  //       td {
  //         width: 100%;
  //         box-sizing: border-box;
  //       }
  //     }
  //   }
  // }
}
@media screen and (max-width: 743px) {
  // 모바일
  // 공통
  .pc_none {
    display: inline-flex;
  }
  .mo_none {
    display: none;
  }

  // table
  .tb_st1 {
    border-top: solid 2px var(--gray-700);

    colgroup {
      display: none;
    }

    thead {
      display: none;
    }

    tbody {
      tr {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        border-bottom: solid 1px var(--gray-300);
        padding: 1.2rem;
        box-sizing: border-box;

        td {
          width: 100%;
          box-sizing: border-box;
          border: 0;
          text-align: left;
          padding: 0;
        }
      }
    }
  }
}

/*반응형*/
@media only screen and (max-width: 1024px) {
  .tb_st2 th {
    font-size: 16px !important;
  }
  .tb_st2 td {
    font-size: 14px !important;
  }
}
