// desc_section ------------------------------
.desc_section {
  .img_process_box {
    display: inline-block;
    width: 100%;
    // aspect-ratio: 1 / 0.2;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--br-10);
    background-color: var(--white);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

// product_section ------------------------------
.product_section {
  padding: 0;

  .btn_tab_box {
    width: 100%;
    margin: 0 auto;

    .btn_tab {
      width: 100%;
      // border: 0.1rem solid var(--gray-2);
      border-radius: 1rem 1rem 0 0;

      // &.active {
      //   border-color: transparent;
      // }
    }
  }
}

// product_detail_section ------------------------------
.product_detail_section {
  // padding-top: 0;

  .item_detail {
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    background-color: var(--white);
    // border-radius: 0 0 1rem 1rem;
    border-radius: var(--br-10);

    .title_box {
      width: 100%;
      display: none;

      &.active {
        display: flex;
      }

      .img_wax_tree_box {
        width: auto;
        height: 13rem;
        border-radius: var(--br-10);
        overflow: hidden;

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .list_box {
      // 각 탭 제품의 종류
      .type_inner {
        gap: 2rem;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;

        & > div {
          width: calc((100% - 2rem) / 2);
          // height: 23.5rem;
          background-color: var(--gray-1);
          padding: 2rem;
          box-sizing: border-box;
          border-radius: var(--br-10);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: space-between;

          &.important_item {
            width: 100%;

            background-color: var(--sub-yellow-1);
            color: var(--black);
          }
          .title {
            font-size: var(--fs-20);
            font-weight: bold;
          }
          .desc {
            height: 10.8rem;
            margin: 1rem 0;
          }
          .used {
            height: 4.3rem;
          }
        }
      }

      // sec_box
      .sec_box {
        .type_inner {
          & > div {
            &:first-of-type {
              width: 100%;
            }

            .used {
              height: 2.2rem;
            }
          }
        }
      }
    }
  }
}
