#mainVisualSection {
  padding: 0;
  .title2 {
    text-align: right;
  }
}

// history section
.box {
  display: flex;
  flex-direction: column;
  color: var(--white);

  p,
  ul {
    display: flex;
    height: 30rem;
  }

  p {
    position: relative;
    align-items: flex-end;
    padding: 10rem 0;

    &::before {
      content: '';
      position: absolute;
      left: -1rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: var(--white);
    }
  }
  ul {
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
    padding: 3rem 0;
  }

  &:nth-of-type(odd) {
    flex-direction: column-reverse;
    p {
      align-items: flex-start;
    }
    ul {
      justify-content: flex-end;
    }
  }
}
