#mainVisualSection {
  padding: 0;
  .title2 {
    text-align: right;
  }
}

// history section
.history.box {
  display: flex;
  flex-direction: column;
  color: var(--white);

  p,
  ul {
    display: flex;
    height: 30rem;
  }

  p {
    align-items: flex-end;
    padding: 10rem 0;

    &::before {
      content: '';
      width: 1rem;
      aspect-ratio: 1 / 1;
      margin-right: 1.3rem;
      margin-bottom: 2.2rem;
      border-radius: 50%;
      background-color: var(--white);
    }
  }
  ul {
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
    padding: 3rem 0;
  }

  &:nth-of-type(odd) {
    flex-direction: column-reverse;

    p {
      align-items: flex-start;

      &::before {
        margin-top: 2.2rem;
        margin-bottom: 0;
      }
    }

    ul {
      justify-content: flex-end;
    }
  }
}

// business section
#business {
  height: max-content;
  .box {
    display: flex;
    justify-content: space-between;

    .left {
      width: 40%;
    }
    .right {
      width: 55%;
    }
  }
}
