.items {
  flex-wrap: wrap;
  gap: 2rem;

  & > div {
    width: calc((100% - 20px) / 2);

    & > div {
      button {
        margin-left: auto;
      }

      &:first-of-type {
        height: 8rem;
      }
    }
    // width: calc((100% - 20px) / 2);

    &:last-of-type {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .items {
    gap: 1rem;

    & > div {
      width: 100%;
    }
  }
}
