// items ------------------------------
.items {
  flex-wrap: wrap;
  gap: 2rem;

  & > div {
    width: calc((100% - 20px) / 2);

    & > div {
      button {
        margin-left: auto;
      }

      &:first-of-type {
        height: 8rem;
      }
    }
    // width: calc((100% - 20px) / 2);

    &:last-of-type {
      width: 100%;
    }
  }
}

// tab ------------------------------
.tab {
  width: 100%;

  .btn_tab_box {
    width: 95%;
    margin: 0 auto;

    .btn_tab {
      width: 100%;
      // border: 0.1rem solid var(--gray-2);
      border-radius: 1rem 1rem 0 0;

      // &.active {
      //   border-color: transparent;
      // }
    }
  }
}

// tab_2 ------------------------------
.tab_2 {
  width: 100%;

  .btn_tab_box {
    width: 100%;

    .btn_tab {
      width: 100%;
      border-radius: var(--br-50);
      margin-bottom: 2rem;
    }
  }
}

// item_detail ------------------------------
.item_detail {
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--white);
  // border-radius: 0 0 1rem 1rem;
  border-radius: var(--br-10);

  & > div {
    width: 100%;
    padding: 5rem 0;
    margin: 0 5rem;
    border-bottom: 0.1rem solid var(--main-green-1);
    // margin-bottom: 2rem;

    &:first-of-type,
    &:last-of-type {
      border-bottom: 0;
      // margin-bottom: 0;
    }

    &:first-of-type {
      padding: 5rem 0;
    }
  }
}

@media screen and (max-width: 768px) {
  // .items {
  //   gap: 1rem;

  //   & > div {
  //     width: 100%;
  //     display: flex;
  //     justify-content: ;
  //   }
  // }
}
