.right_cont {
  gap: 2rem;

  .swiper_vertical,
  .right_cont_result {
    width: 15rem;
    height: 15rem;
    border-radius: var(--br-10);
  }

  .swiper_box {
    gap: 1rem;
    width: 31rem;

    .swiper_vertical {
      .slide_box {
        height: 100%;
        background-color: var(--white);

        &.color {
          background-color: var(--main-green-1);
          color: var(--white);
        }
        &.point {
          background-color: var(--sub-yellow-1);
          color: var(--white);
        }
      }

      &:last-of-type {
        transform: rotate(180deg);

        .slide_box {
          transform: rotate(180deg);
        }
      }
    }
  }

  .ico_right {
    border-radius: var(--br-50pro);
    background-color: var(--white);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
  }

  .right_cont_result {
    background-color: var(--white);
  }
}
