.plan_ico_card_box {
  flex-wrap: wrap;
  gap: 2rem;

  & > div {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .plan_ico_card_box {
    gap: 1rem;

    & > div {
      width: 100%;
    }
  }
}
