.card_ico {
  width: 100%;
  padding: 3rem;
  border-radius: var(--br-10);
  flex-wrap: wrap;
  gap: 3rem;

  .top {
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;

    .title_box p,
    .title_box span,
    .ico_img_box {
      width: 100%;
    }

    .title_box {
      width: 85%;

      &.width_100 {
        width: 100%;
      }

      p {
        font-size: var(--fs-20);
        font-weight: var(--fw-700);
      }
    }

    .ico_box {
      width: 13%;
      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .bottom {
    width: 100%;
    background: var(--gray-1);
    border-radius: var(--br-10);
  }
}
