.partners_box {
  gap: 2rem;
  flex-wrap: wrap;

  a {
    gap: 1rem;

    span {
      width: 3rem !important;
      height: 3rem !important;

      img {
        height: auto;
        background-color: aqua;
      }
    }
  }
}
// 반응형
@media screen and (max-width: 1024px) {
  .partners_box {
    gap: 1rem;
  }
}
