#mainVisual {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;

  video {
    width: 100%;
  }

  .script {
    position: absolute;
    top: 55%;
    left: 3rem;
    color: white;
    // text-align: right;
    line-height: 1.2;
    cursor: default;

    p {
      font-size: 14rem;
      font-weight: 800;
    }
    span {
      display: block;
      font-size: 3rem;
      margin-top: 2rem;
    }
  }
}
