.vertical_section {
  height: max-content;
  background-color: var(--white);
  overflow: unset;

  .wrap {
    width: 100%;
    height: auto;
    min-height: 100vh;
    gap: 2rem;
    align-items: flex-start;

    .left {
      width: 30%;

      &.sticky {
        position: sticky;
        top: 7rem;
        left: 0;
      }

      a {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    .right {
      width: calc(70% - 2rem);

      & > div {
        padding-top: 15rem;

        & > div {
          width: 100%;
          padding: 3rem;
          margin-top: 2rem;
          border-radius: var(--br-10);
        }

        &:first-of-type {
          padding-top: 0;

          & > div:first-of-type {
            padding-top: 0;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
